:root {
    --main-font: "Roboto", sans-serif;
    --accent-font: "Raleway", sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --dark-background-color: #2F303A;
    --grey-background-color: #F5F4FA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
}

address {
    font-style: normal;
}

ul {
    list-style: none;
}

.hero-section, .footer-section {
    background-color: var(--dark-background-color);
}

.workers-section {
    background-color: var(--grey-background-color);
}

/* Logo */

.logo {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-black {
    color: #000;
}

.logo-white {
    color: var(--primary-white-color);
}

/* Site nav */

.nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus, .contact-link:hover, .contact-link:focus, .footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
}

.link-current {
    color: var(--accent-color);
    text-decoration: none;
}

/* Hero */

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
}

/* Button */

.button {
    font-family: inherit;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    text-align: center;
    border: none;
}

/* Section */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.principles-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
}

.workers-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.workers-type {
    text-align: center;
}

.contacts-list {
    color: var(--primary-white-color);
}

.footer-link {
    color: var(--primary-white-color);
    opacity: 0.6;
    text-decoration: none;
}

/* Portfolio */
.filter-button {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

 .filter-button:hover {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.project-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

